
.main_inner     { width: 1440px; margin: 0 auto; padding: 30px 0 40px; text-align: center;}
.main_bg        { overflow-x: hidden; background-color: #fafafa;} 
.main_tit       { display: block; position: relative; margin-bottom: 25px; text-align: center; font-size: 30px;}
.main_tit > b   { font-size: 30px; font-weight: 700;}
.main_tit2      { display: block; position: relative; text-align: center; font-size: 30px; font-weight: 700;}
.main_subtit    { margin-bottom: 10px; text-align: left; font-weight: 700; 

    display: block; word-wrap: normal; word-break: break-all; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;


}
.main_subtit2   { margin-bottom: 10px; text-align: left; font-weight: 700; overflow: hidden; text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */ white-space: normal; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
.main_subtit3   { display: block; margin-bottom: 5px; font-size: 16px; text-align: left; font-weight: 700; color: #444; word-wrap: normal; word-break: break-all; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.main_desc      { display: inline-block; width: 100%; height: 40px; overflow: hidden; text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */ white-space: normal; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; font-size: 12px; }



.main_ellipsis2     { display: inline-block; width: 100%; overflow: hidden; text-overflow: ellipsis; /* 여러 줄 자르기 추가 스타일 */ white-space: normal; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; line-height: 1.4;}




.main_columns           { display: block; width: 100%; font-size: 0; text-align: left;}
.column                 { display: inline-block; position: relative; vertical-align: top; }
.is-2                   { width: calc((100% - 24px) / 2);}
.is-2:nth-child(2n)     { margin: 0 0 40px 24px;}
.is-3                   { width: calc((100% - 96px) / 5);}
.is-3:nth-of-type(2),
.is-3:nth-of-type(4),
.is-3:nth-of-type(7),
.is-3:nth-of-type(9)    { margin: 0 24px 24px 24px;}
.is-4                   { width: calc((100% - 72px) / 4);}
.is-4:nth-child(2),
.is-4:nth-child(6)       {margin: 0 24px 24px 24px; }
.is-4:nth-child(4),
.is-4:nth-child(8)      { margin: 0 0 24px 24px; }
.is-5                   { width: calc((100% - 72px) / 3);}
.is-10                  { width: 66.6%; margin-right: 24px;}
.is-12                  { width: calc(100% - 24px - 18.1%);}

.is_pd          {  overflow: hidden; display: block; position: relative; width: 100%; margin-bottom: 10px; border: 1px solid #e5e5e5; background-color: #fff;}
.is_pd::before  { content: ''; display: block; padding-top: 100%;}
.is_pd > img    {
    display: block; max-width: 100%; height: auto; position: absolute; top: 50%; left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.3); transform:
     translate(-50%, -50%) scale(1.3);
}

.main_best_col1{display: inline-block; width: 269px; margin-right: 24px; vertical-align: top; }
.main_best_col1 > a{display: block; width: 100%; height: 100%;}
.main_best_col1 > a img{display: block; width: 100%; height: 100%;}
.main_best_col4{display: inline-block; width: calc(100% - 293px); vertical-align: top; }

.main_box{
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
    padding-top: 20px; font-size: 0;
}
.main_box > .left     { overflow: hidden; display: inline-block; position: relative; width: 100px; height: 100px; border: 1px solid #e5e5e5;}
.main_box > .left img { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%) ; display: block; max-width: 100%; height: auto;}
.main_box > .right    { display: inline-block; width: calc(100% - 100px); padding-left: 20px;}

.main_module1 > li > a          { overflow: hidden; display: block; position: relative; width: 100%; margin: 0 auto; border: 1px solid #e5e5e5; background-color: #fff; text-align: center;}
.main_module1 > li > a::before  { content: ''; display: block; padding-top: 48.5%;}
.main_module1 > li > a > img    { position: absolute; top: 0; right: 0; bottom: 0; left: 0;  max-width: 100%; height: auto;}
.main_module1 > li > p          { height: 45px; margin: 17px 0 17px; }
.main_module1 .main_box         { padding-top: 25px; border-top: 1px solid #e5e5e5;}

.main_module2               { padding: 23px 20px; border: 1px solid #e5e5e5; text-align: left;}
.main_module2 > li          { font-size: 0; }
.main_module2 > li + li     { margin-top: 25px; padding-top: 25px; border-top: 1px solid #e5e5e5;}
.main_module2 .left         { display: inline-block; width: calc(100% - 130px); margin-right: 20px;}
.main_module2 .left > a     { display: block; width: 100%; height: 100%;}
.main_module2 .right        { overflow: hidden; display: inline-block; width: 100px; height: 100px; border: 1px solid #e5e5e5; vertical-align: top;}
.main_module2 .right > a    {display: block; width: 100%; height: 100%; background-color: #fff;}
.main_module2 .nation       { margin-bottom: 8px;}
.main_module2 .nation img   { overflow: hidden;  display: inline-block; width: 21px; height: 14px;}
.main_module2 .nation em    { display: inline-block; margin-left: 3px; vertical-align: middle; font-size: 12px;}
.main_module2 .day          { margin-top: 10px; font-size: 12px;}
.main_module2 .tag          { margin-top: 15px; font-size: 0;}
.main_module2 .tag > li     { display: inline-block; padding: 0 7px; border: 1px solid #e5e5e5; font-size: 12px; line-height: 23px; margin: 0 10px 5px 0;}



/* ==================== main_toppd_wrap ==================== */
.main_toppd_wrap{position: relative; margin-bottom: 35px; border: 1px solid #e5e5e5; }
.main_toppd_wrap .bx-viewport{height: auto !important; width: calc(100% + 1px) !important;}
.main_toppd > li{display: block; height: 120px;}
.main_toppd > li > a{
    position: relative; display: block; height: 100%; padding-top: 40px;
    border-left: 1px solid #e5e5e5;
    transition: all 0.2s; font-size: 12px; line-height: 1.3; color: #555;
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    -webkit-box-align: center; -ms-flex-align: center; align-items: center;
}
.main_toppd > li > a:before{
    content: ''; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%);
    width: 50px; height: 50px; margin-top: -20px;
    background:  url(../images/icon_toppd.png) no-repeat;
}
.main_toppd > li > a.toppd_img1:before  { background-position: 0 0;}
.main_toppd > li > a.toppd_img2:before  { background-position: -50px 0;}
.main_toppd > li > a.toppd_img3:before  { background-position: -100px 0;}
.main_toppd > li > a.toppd_img4:before  { background-position: -150px 0;}
.main_toppd > li > a.toppd_img5:before  { background-position: -200px 0;}
.main_toppd > li > a.toppd_img6:before  { background-position: -250px 0;}
.main_toppd > li > a.toppd_img7:before  { background-position: -300px 0;}
.main_toppd > li > a.toppd_img8:before  { background-position: -350px 0;}
.main_toppd > li > a.toppd_img9:before  { background-position: -400px 0;}
.main_toppd > li > a.toppd_img10:before { background-position: -450px 0;}
.main_toppd > li > a.toppd_img11:before { background-position: -500px 0;}
.main_toppd > li > a.toppd_img12:before { background-position: -550px 0;}
.main_toppd > li > a.toppd_img13:before { background-position: -600px 0;}
.main_toppd > li > a.toppd_img14:before { background-position: -650px 0;}
.main_toppd > li > a:hover,
.main_toppd > li.is_active > a          { background-color: #30beb2; color: #fff;}
.main_toppd > li > a.toppd_img1:hover:before,
.main_toppd > li.is_active > a.toppd_img1:before { background-position: 0 -60px;}
.main_toppd > li > a.toppd_img2:hover:before,
.main_toppd > li.is_active > a.toppd_img2:before { background-position: -50px -60px;}
.main_toppd > li > a.toppd_img3:hover:before,
.main_toppd > li.is_active > a.toppd_img3:before { background-position: -100px -60px;}
.main_toppd > li > a.toppd_img4:hover:before,
.main_toppd > li.is_active > a.toppd_img4:before { background-position: -150px -60px;}
.main_toppd > li > a.toppd_img5:hover:before,
.main_toppd > li.is_active > a.toppd_img5:before { background-position: -200px -60px;}
.main_toppd > li > a.toppd_img6:hover:before,
.main_toppd > li.is_active > a.toppd_img6:before { background-position: -250px -60px;}
.main_toppd > li > a.toppd_img7:hover:before,
.main_toppd > li.is_active > a.toppd_img7:before { background-position: -300px -60px;}
.main_toppd > li > a.toppd_img8:hover:before,
.main_toppd > li.is_active > a.toppd_img8:before { background-position: -350px -60px;}
.main_toppd > li > a.toppd_img9:hover:before,
.main_toppd > li.is_active > a.toppd_img9:before { background-position: -400px -60px;}
.main_toppd > li > a.toppd_img10:hover:before,
.main_toppd > li.is_active > a.toppd_img10:before { background-position: -450px -60px;}
.main_toppd > li > a.toppd_img11:hover:before,
.main_toppd > li.is_active > a.toppd_img11:before { background-position: -500px -60px;}
.main_toppd > li > a.toppd_img12:hover:before,
.main_toppd > li.is_active > a.toppd_img12:before { background-position: -550px -60px;}
.main_toppd > li > a.toppd_img13:hover:before,
.main_toppd > li.is_active > a.toppd_img13:before { background-position: -600px -60px;}
.main_toppd > li > a.toppd_img14:hover:before,
.main_toppd > li.is_active > a.toppd_img14:before { background-position: -650px -60px;}


/* ==================== main_supweek_wrap ==================== */
.main_supweek_wrap                          { position: relative;}
.main_supweek_wrap .bx-viewport             { overflow: visible !important;}
.main_supweek_wrap .bx-wrapper              { max-width: auto !important;}
.main_supweek > li[aria-hidden="true"]      { opacity: 0.2;}
.main_supweek_wrap .main_supweek_img        { display: block; width: 100%; height: 189px; border: 1px solid #e5e5e5;}
.main_supweek_wrap .main_supweek_img img    { width: 100%; height: 100%; }
.main_prev.supweek_prev                     { top: 22%;}
.main_next.supweek_next                     { top: 22%;}


/* ==================== main_prev main_next 공통 (main_toppd, main_supweek) ==================== */
.main_prev{
    display: inline-block; position: absolute; top: 50%; left: -20px;
    -webkit-transform: translateY(-50%); transform: translateY(-50%);
    width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 50%; background-color: #fff; 
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.2); box-shadow: 0 0 7px rgba(0,0,0,0.2);
    transition: all 0.2s;
}
.main_prev > a{display: block; position: relative; width: 100%; height: 100%; font-size: 0; cursor: pointer;}
.main_prev > a:before{
    content: ''; position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-135deg); transform: translate(-50%, -50%) rotate(-135deg);
    width: 8px; height: 8px; margin-left: 2px; border-top: 2px solid #ccc; border-right: 2px solid #ccc;
    transition: all 0.2s;
}
.main_prev:hover            { border: 1px solid #30beb2;}
.main_prev:hover > a:before { border-top: 2px solid #30beb2; border-right: 2px solid #30beb2;}
.main_next{
    display: inline-block; position: absolute; top: 50%; right: -20px;
    -webkit-transform: translateY(-50%); transform: translateY(-50%);
    width: 40px; height: 40px; border: 1px solid #ccc; border-radius: 50%; background-color: #fff;
    -webkit-box-shadow: 0 0 7px rgba(0,0,0,0.2); box-shadow: 0 0 7px rgba(0,0,0,0.2);
    transition: all 0.2s;
}
.main_next > a{display: block; position: relative; width: 100%; height: 100%; font-size: 0; cursor: pointer;}
.main_next > a:before{
    content: ''; position: absolute; left: 50%; top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg); transform: translate(-50%, -50%) rotate(45deg);
    width: 8px; height: 8px; margin-left: -2px; border-top: 2px solid #ccc; border-right: 2px solid #ccc;
    transition: all 0.2s;
}
.main_next:hover            { border: 1px solid #30beb2;}
.main_next:hover > a:before { border-top: 2px solid #30beb2; border-right: 2px solid #30beb2;}








/* ==================== main_link ==================== */
.main_link{margin: 40px 0 60px; font-size: 0;}
.main_link > li{
    display: inline-block; position: relative; width: calc((100% - 72px) / 4); height: 100px;
    background-color: #fafafa; border: 1px solid #e5e5e5; text-align: center; vertical-align: top;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
.main_link > li + li{margin-left: 24px;}
.main_link > li > a{
    width: 100%; height: 100%; padding: 0 5px; overflow: hidden; flex-direction: column;
    display: -webkit-box; display: -ms-flexbox; display: flex;
    -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
}
.main_link > li > a strong  { display: block; font-size: 25px; line-height: 1; font-weight: 700;}
.main_link > li > a span    { display: block; margin-top: 10px; font-size: 12px; line-height: 1.2; color: #666;}
.main_link > li:hover       { background-color: #30beb2; border: 1px solid #30beb2;}
.main_link > li:hover a *   { color: #fff}









/* 1440px 이하 공통*/
@media screen and (max-width: 1440px) {
    .main_inner{width: 100%; padding: 30px 20px 40px;}
    .main_tit{font-size: 28px;}
    .main_tit > b{font-size: 28px;}
    .main_subtit{margin-bottom: 5px;}
    .main_subtit2{font-size: 12px;}
    .main_ellipsis2{font-size: 12px;}
    
    .main_module2 .left{width: 100%}
    .main_module2 .right{display: none;}
    .main_module2 > li + li     { margin-top: 15px; padding-top: 15px;}
    .is_pd > img { -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
    .main_box > .left{width: 80px; height: 80px;}
    .main_box > .right{width: calc(100% - 80px);}
    .main_toppd > li{height: 100px;}
    .main_best_col1{width: calc(20.5% - 24px);}
    .main_best_col4{width: 79.5%;}
    
    .main_link > li > a strong{font-size: 23px;}

}






/* 모바일만 */
@media screen and (max-width: 800px) {
    /* .main_inner{padding: 30px 20px 40px; } */
    .main_tit     { font-size: 23px; margin-bottom: 15px;}
    .main_tit > b { font-size: 23px;}
    .main_tit2    { font-size: 23px;}
    .main_prev      {left: 0;}
    .main_next      {right: 0;}

    .is-3               { width: calc((100% - 20px) / 2)}
    .is-3:nth-of-type(2),
    .is-3:nth-of-type(4),
    .is-3:nth-of-type(7),
    .is-3:nth-of-type(9){ margin: 0;}
    .is-3:nth-child(2n) { margin: 0 0 20px 20px;}

    .is-2{width: 100%; margin-bottom: 25px;}
    .is-2:nth-child(2n){margin: 0 0 25px 0;}
    
    .is-4               { width: calc((100% - 20px) / 2)}
    .is-4:nth-child(2),
    .is-4:nth-child(6)  { margin: 0; }
    .is-4:nth-child(4),
    .is-4:nth-child(8)  { margin: 0; }
    .is-4:nth-child(2n) { margin: 0 0 20px 20px;}
    
    .is-10{display: block; width: 100%;}
    .is-5{display: block; width: 100%;}
    
    .main_box > .left{width: 70px; height: 70px;}
    .main_box > .right{width: calc(100% - 70px); padding-left: 15px;}
    
    .main_module1 > li > p{height: 38px;margin: 10px 0 5px;}
    .main_module1 .main_box{padding-top: 15px;}
    .main_module1 > li > a > img{width: 100%;}
    .main_module2{padding: 0; border: none;}
    .main_best_col1{display: block; width: 100%;margin: 0 0 20px 0;}
    .main_best_col4{display: block; width: 100%; }

    .main_link{margin: 0 0 10px}
    .main_link > li{width: calc((100% - 10px) / 2); height: 45px}
    .main_link > li:nth-child(2n){margin: 0 0 10px 10px;}
    .main_link > li + li{margin-left: 0;}
    .main_link > li > a strong{font-size: 16px;}
    .main_link > li > a span{display: none;}
}




.big_tab ul{overflow: hidden; width: 100%;}
.big_tab ul li{width: 25%; box-sizing: border-box; float: left; list-style-type: none; border: 1px solid #ccc; text-align: center; line-height: 40px;}
.big_tab ul li.activeClass{font-weight: bold; font-size: 20px;}
.sm_select {display: none; border: 1px solid green}
.sm_select select {width:100%; height: 40px; }


@media (max-width:800px){
      .sm_select {display: block;}
      .big_tab{display: none;}
 }



.tab_select_outer{border: 1px solid green;}
.tab_button_outer {display: none;}
.tab_button_outer * {font-size: 12px;}

@media screen and (min-width: 800px) {
	.tab_button_outer {display: block;}
	.tab_select_outer {display: none;}
}